body{
    background-color: #000;;
}
.navigationbar{
    position: fixed;
    background-color: black;
    width: 100%;
    text-align: center;
    height: 50px;
    padding: auto;
}

.navitem {
    color: gray;
}
.container{
    background-color: #141010;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.header {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
    font-size: 60px;
    font-weight: bold;
}
.pfp{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 100%;
}
.description{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
}

.imgcontainer{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.sectiontitle {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
    font-size: 30px;
    font-weight: bold;
}
.sectiontext {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
}