body{
    padding: 0;
    margin: 0;
    background-color: rgb(137,171,223);
}

.navbar_container{
    background-color: rgb(34,34,34);
    height: 5vh;
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 3;
}

.nav_item{
  color: rgb(157,153,149);
    text-decoration: none;
    padding: 10px;
}

.navbar{
    margin-left: 20vw;
}

.search_bar{
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 24vw;
    border: 0px;
}

.search_button{
    width: 35px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.search_icon{
    line-height: 35px;
}

.header{
    width: 100%;
    background-image: url(testarossi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.column1{
    margin-left: 20vw;
    float: left;
    padding: 10px;
    margin-top: 2vh;
}

.logo_header{
    width: 120px;
    height: 120px;
}

.column3 {
    margin-right: 20vw;
    float: right;
    margin-top: 3vh;
}

.enti_header{
    width: 160px;
    height: 90px;
}

.column2 {
    padding: 50px;
    display: inline-block;
}

.header_title{
    background-color: whitesmoke;
    opacity: 0.5;
    font-size: 30px;
    box-shadow: 20px 20px 50px black;
}

.header_subtitle{
    background-color: whitesmoke;
    opacity: 0.5;
    font-size: 15px;
    width: fit-content;
    box-shadow: 20px 20px 50px grey;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1160px;
  position: relative;
  margin-top: 5vh;
  margin-left: 20vw;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.bg_text {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  background-color: black;
  opacity: 0.5;
}

.text{
  color: white;
  font-size: 15px;
  opacity: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dot-container{
  text-align:center;
}

.side_elements {
  background-color: rgb(222,239,246);
  width: 14.4vw;
  height: 241%;
  align-items: center;
  position: absolute;
  align-content: center;
  z-index: 1;
  display: inline-block;
}

.label {
  padding: 7px;
  background-color: rgb(127,166,232);
  border-radius: 10px;
  margin: auto;
  width: 12vw;
  margin-top: 2vh;
  text-align:center;
  color: white;
}

.side_elements_text{
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.side_elements_input{
  display: block;
  margin: auto;
}

.side_elements_button{
  display: block;
  margin: auto;
  margin-top: 1vh;
}

.side_elemnts_link{
  margin: auto;
  margin-top: 1vh;
  font-size: small;
}

.side_elements_image{
  margin: auto;
  margin-top: 1vh;
  width: 13.5vw;
  display: block;
}

.main_evidenza_avvisi{
  width: 883px;
  height: 420px;
  background-color: rgb(39,158,177);
}

.header_main_ea{
  background-color: rgb(56,89,145);
  height: 3.5vh;
  line-height: 3.5vh;
  color: white;
  font-size: 2.5vh;
  margin-bottom: 1vh;
}
.evidenza_date{
  display: inline;
  margin-right: 8.5vw;
  font-size: small;
  color: rgb(52,92,145);
}

.evidenza_text{
  color: white;
  display: inline-block;
  margin-right: 2vw;
  margin-top: 0.8vh;
}

.avvisi_subtitle{
  color: white;
  font-size: 20px;
  margin-top: 0.8vh;
}

.main_news{
  display: inline-block;
}

.main_elements{
  display: inline-block;
  background-color: white;
  margin-left: 20vw;
  width: 883px;
}

.news_header_label{
  margin-top: 2vh;
  background-color: rgb(52,92,145);
  margin-left: 0.7vw;
  height: 3.5vh;
  line-height: 3.5vh;
  width: 26vw;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  font-size: large;
  color: white;
  margin-bottom: 2vh;
}

.news_label{
  margin-left: 0.7vw;
  height: 2vh;
  line-height: 2vh;
  background-color: rgb(51,155,223);
  border-radius: 3px;
  width: 4vW;
  box-shadow: 5px 5px 5px grey;
  color: white;
  text-align: center;
  float: left;
  margin-right: 0.6vW;
}

.news_text{
  margin-top: 1vh;
}

.news_image{
  width: 200px;
  height: 130px;
  margin-top: 1vh;
  float: left;
  margin-left: 0.7vw;
}

.news_hr{
  width: 100%;
  background-color: rgb(204,204,204);
  margin-left: 0.7vw;
  margin-top: 2vh;
}